// Define variables for your color scheme

// For example:
$red: #F36262;
$blue: #468B97;
$yellow: #F3AA60;
$darkblue: #1D5B79;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
