// Specific CSS for your home-page
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: rgba(142, 195, 174, 0.5);
  margin: 0;
  padding: 0;
  height: 100vh;
  border: 13px solid #5391c3;
}

.greeting-styling {
  font-size: 100px;
  margin-top: 30%;
  margin-left: 10%;

  font-family: "Style Script", cursive;
  font-style: normal;
  color: rgba(188, 52, 34, 0.8);
  // text-shadow: 1px -7px 10px #def, 0 0 0 #000, 0px 0px 0px #def;
}

.choose-set-styling {
  font-size: 60px;
  margin-top: 20%;
  margin-left: 15%;

  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  color: rgba(83, 145, 195, 0.8);
  text-shadow: 1px -7px 10px #def, 0 0 0 #000, 0px 0px 0px #def;
}
