<% all_words.each do |word| %>
  <div data-controller="create-new-instance" class="flexbox-create-set list-item-create-set"
  data-create-new-instance-url-value="<%= add_word_to_set_path(set, word) %>" >

    <div data-create-new-instance-target="word"> <%= word.german %> - <%= word.english %>
    </div>

    <i data-action="click->create-new-instance#add_word" class="fa-regular fa-square-plus"></i>

  </div>
<% end %>
