
<h2>Choose a set:<h2>
<div class="dropdown-main">
    <button class="dropbtn-styling">cards topic
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">animals</a>
      <a href="#">street</a>
      <a href="#">house</a>
    </div>



<button class="btn-styling btn-position-practice">practice</button>
<button class="btn-styling btn-position-play">play</button>

<!-- dropdown-menu -->
