<%= image_tag "logo_small.png", class: "second-logo-styling" %>

<h2 class="choose-set-styling">Choose a set:</h2>

<%= simple_form_for "url_path", method: :get do |f| %>
  <%= f.input :set, collection: @sets, label: false, input_html: {class: "dropbtn-styling" } %>
  <%= f.button :submit, "GO!", class: "btn-styling btn-position-go" %>
<% end %>

<%# <div class="dropdown-main">
    <button class="dropbtn-styling">cards topic
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">animals</a>
      <a href="#">street</a>
      <a href="#">house</a>
    </div>
</div> %>
