
</html>
 <body data-controller="answer">
    <div class="info-button">
    </div>

    <div class="flexbox">
      <div class="container-background-image" data-answer-target="article" data-action="click->answer#checkAnswer">
          <img src="https://www.freeiconspng.com/uploads/bubble-transparent-hd-png-27.png" alt="Background Image" class="background-image">
          <div class="text-container-background-image">
            <p>der</p>
          </div>
        </div>



      <div class="container-background-image" data-answer-target="article" data-action="click->answer#checkAnswer">
          <img src="https://www.freeiconspng.com/uploads/bubble-transparent-hd-png-27.png" alt="Background Image" class="background-image">
          <div class="text-container-background-image">
            <p>die</p>
          </div>
        </div>


      <div class="container-background-image" data-answer-target="article" data-action="click->answer#checkAnswer">
          <img src="https://www.freeiconspng.com/uploads/bubble-transparent-hd-png-27.png" alt="Background Image" class="background-image">
          <div class="text-container-background-image">
            <p>das</p>
          </div>
        </div>
    </div>

    <div class="overlay"></div>

    <div class="container-show">
      <div >
            <div data-answer-target="answers">
        <% @words.each do |word|%>
          <button class="round-button d-none" data-answer-target='noun' data-english=<%= word.english%> data-article=<%= word.article %>>
          <%= word.german %>
          </button>
        <% end %>
    </div>

    <div class="button-show">
      <button class="btn-styling btn-position-play"onclick="togglePopup()">Quit</button>
        <div id="popup" class="popup">
          <span class="close" onclick="togglePopup()">&times;</span>
          <p>Are you sure?</p>
      </div>
    </div>

   <script>
    function togglePopup() {
      var popup = document.getElementById("popup");
      var overlay = document.querySelector(".overlay");
      popup.classList.toggle("show");
      overlay.classList.toggle("show");
    }
    </script>


    </body>
</html>
