
<%# <h2> der </h2>
<h2> die</h2>
<h2> das </h2> %>

</html>
  <body>
    <div class="container-show">
      <button class="round-button">Hund</button>
    </div>
    <button class="btn-styling btn-position-play">Quit</button>
  </body>
</html>

<div data-controller="answer">

<div>
  <% @words.each do |word|%>
    <p class="d-none" data-answer-target='noun' data-english=<%= word.english%> data-article=<%= word.article %>><%= word.german %></p>
  <% end %>
</div>

<h2 class="btn btn-primary" data-answer-target="article" data-action="click->answer#checkAnswer"> der </h2>
<h2 class="btn btn-primary" data-answer-target="article" data-action="click->answer#checkAnswer"> die</h2>
<h2 class="btn btn-primary" data-answer-target="article" data-action="click->answer#checkAnswer"> das </h2>

</div>

