
</html>
 <body data-controller="answer">

    <div class="container-info-button">
    <div class="info-button" onclick="togglePopupInfoButton()">i</div>
    <div id="popup-info-button" class="popup-info-button">
      <span class="close" onclick="togglePopupInfoButton()">&times;</span>
      <h2>Tutorial</h2>
      <p>When a Noun pops up on the big blue button, you can choose the class by clicking on one of the bubbles.
      If your choice is wrong, the bubble will shake no. If you pick the right class you go on to the next noun challenge. Happy Sprudeling☀️</p>
    </div>
  </div>

  <script>
    function togglePopupInfoButton() {
      var popup = document.getElementById("popup-info-button");
      var overlay = document.querySelector(".overlay");
      popup.classList.toggle("show");
      overlay.classList.toggle("show");
    }
  </script>

    <div class="flexbox">
      <div class="container-background-image" data-answer-target="article" data-action="click->answer#checkAnswer">
          <img src="https://www.freeiconspng.com/uploads/bubble-transparent-hd-png-27.png" alt="Background Image" class="background-image">
          <div class="text-container-background-image">
            <p>der</p>
          </div>
        </div>


      <div class="container-background-image" data-answer-target="article" data-action="click->answer#checkAnswer">
          <img src="https://www.freeiconspng.com/uploads/bubble-transparent-hd-png-27.png" alt="Background Image" class="background-image">
          <div class="text-container-background-image">
            <p>die</p>
          </div>
        </div>


      <div class="container-background-image" data-answer-target="article" data-action="click->answer#checkAnswer">
          <img src="https://www.freeiconspng.com/uploads/bubble-transparent-hd-png-27.png" alt="Background Image" class="background-image">
          <div class="text-container-background-image">
            <p>das</p>
          </div>
        </div>
    </div>

    <div class="overlay"></div>

    <div class="container-show">

            <div data-answer-target="answers">
        <% @words.each do |word|%>
          <button class="round-button d-none"
            data-answer-target='noun'
            data-english=<%= word.english%>
            data-article=<%= word.article %>>
          <%= word.german %>
          </button>
        <% end %>

    <div class="button-show">
      <button class="btn-styling btn-position-play" onclick="togglePopupQuit()">Quit</button>
      <div id="popup-quit" class="popup-button-show">
        <span class="close" onclick="togglePopupQuit()">&times;</span>
        <p>Are you sure?</p>
        <button class="btn-styling btn-position-play">Yes</button>

      </div>
    </div>

    <script>
      function togglePopupQuit() {
        var popup = document.getElementById("popup-quit");
        var overlay = document.querySelector(".overlay");
        popup.classList.toggle("show");
        overlay.classList.toggle("show");
      }
    </script>
  </div>

  <div class="overlay"></div>

    </div>
    </body>
</html>
