
<%= link_to "/home" do %>
  <%= image_tag "logo_nomen_sprudel.png", class: "main-logo-styling" %>
<% end %>

<div class="container">
<span class="text">WELCOME</span>
</div>

<%= link_to "Home", home_path %>
