<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="inside">
        <%= link_to "/home" do %>
          <%= image_tag "logo.png", class: "main-logo-styling main-logo-position" %>
        <% end %>

        <%# <% <div class="greeting-styling">WELCOME</div> %>
      </div>
    </div>
  </div>
</div>

<audio id="bubble" src="<%= image_path("bubble.mp3")%>" type="audio/mpeg"></audio>

<div id= "background-wrap">
  <div class= "bubble b1" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b2" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b3" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b4" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b5" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b6" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b7" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b8" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class= "bubble b9" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b10" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b11" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b12" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b13" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b14" data-controller="bubble" data-action="click->bubble#popBubble"></div>
  <div class="bubble b15" data-controller="bubble" data-action="click->bubble#popBubble"></div>
</div>
