
<%= link_to "/home" do %>
  <%= image_tag "logo_nomen_sprudel.png", class: "main-logo-styling" %>
<% end %>

<div class="container">
<span class="text">WELCOME</span>
</div>

<%= link_to "Home", home_path %>

<div id= "background-wrap">
  <div class= "bubble b1"></div>
  <div class= "bubble b2"></div>
  <div class= "bubble b3"></div>
  <div class= "bubble b4"></div>
  <div class= "bubble b5"></div>
  <div class= "bubble b6"></div>
  <div class= "bubble b7"></div>
  <div class= "bubble b8"></div>
  <div class= "bubble b9"></div>
  <div class= "bubble b10"></div>
</div>
