<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="inside">
        <%= link_to "/home" do %>
          <%= image_tag "logo_nomen_sprudel.png", class: "main-logo-styling" %>
        <% end %>

        <span class="greeting-styling">WELCOME</span>
      </div>
    </div>
  </div>
</div>
