<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="inside">
        <%= link_to "/home" do %>
          <%= image_tag "logo_nomen_sprudel.png", class: "main-logo-styling" %>
        <% end %>

        <span class="greeting-styling">WELCOME</span>
      </div>
    </div>
  </div>
</div>

<div id= "background-wrap">
  <div class= "bubble b1"></div>
  <div class= "bubble b2"></div>
  <div class= "bubble b3"></div>
  <div class= "bubble b4"></div>
  <div class= "bubble b5"></div>
  <div class= "bubble b6"></div>
  <div class= "bubble b7"></div>
  <div class= "bubble b8"></div>
  <div class= "bubble b9"></div>
  <div class= "bubble b10"></div>
</div>

