.arrow {
  width: 70px;  /* Adjust the width of the arrow */
  height: 70px; /* Maintain the aspect ratio */
  position: fixed; /* Position the arrow relative to the browser window */
  bottom: 20px; /* Adjust the distance from the top */
  left: 20px; /* Adjust the distance from the right */
}
