.highscores {
  position: relative;
  width: 50px;
}

.crown {
  width: 70px;  /* Adjust the width of the arrow */
  height: 70px; /* Maintain the aspect ratio */
  position: fixed; /* Position the arrow relative to the browser window */
  top: 50px; /* Adjust the positioning as needed */
  right: 20px; /* Adjust the positioning as needed */
  transform: translateY(-50%); /* Center the crown vertically */
}
