.list-item {
display: flex;
justify-content: center;
align-items: center;
border : 2px solid grey;
margin: 2px;
padding: 10px;
font-family: "Mouse Memoirs", sans-serif;
border-radius: 5px;
font-size: 20px;
letter-spacing: 3px;
}

.list-box {
  overflow: scroll;
  width: 350px;
  height: 200px;
  margin: 5px;
}

.list-header {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 7px;
}
