.main-logo-styling {
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(255, 255, 255, 0.591);
  border-radius: 150px;
}

.second-logo-styling {
  width: 150px;
}

.main-logo-position {
  margin-top: 60px;
}

.logo-position {
  margin-top:30px;
}
