.profile-info {
  background-color: #8EC3AE;
  border: 1px solid #f7f4f4;
  border-radius: 5px;
  font-family: "Mouse Memoirs", sans-serif;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.highscore {
  background-color: #8EC3AE;
  border: 1px solid #f7f4f4;
  border-radius: 5px;
  font-family: "Mouse Memoirs", sans-serif;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.further-info {
  background-color: #8EC3AE;
  border: 1px solid #f7f4f4;
  border-radius: 5px;
  font-family: "Mouse Memoirs", sans-serif;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
}

.avatar {
  background-color: wheat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: right;
  margin: 20px;
  display: inline-block;
  bottom: 80px;
  right: 80px;
}
