body html{
  margin: auto;
  padding-top: 20px;
}

.container-show {
  margin-top: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-button {
  margin: 20px;
  position: right;
  bottom: 80px;
  right: 80px;
  border: 4px solid rgb(49, 102, 201);
  border-radius: 50%;
  background-color: #5391C3;
  color: rgb(66, 64, 64);
  text-align: center;
  height: 60px;
  width: 60px;
  font-weight: bold;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
  font-size: 28px;
  padding: 5px 5px;
  text-decoration: none;
  box-shadow: 10px 10px 10px rgba(2, 2, 0, 0.1);
}
.round-button {
  border: 7px solid rgb(49, 102, 201);
  border-radius: 50%;
  background-color: #5391C3;
  color: rgb(66, 64, 64);
  text-align: center;
  font-weight: bold;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
  font-size: 45px;
  height: 300px;
  width: 300px;
  text-decoration: none;
  box-shadow: 10px 10px 10px rgba(2, 2, 0, 0.1);
}

.round-button:hover {
  background-color: #8EC3AE;
}

.flexbox {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.container-background-image {
  position: relative;
  flex: 1;
  margin-top: 5%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 170px;
  object-fit: cover;
  z-index: -1;
}

.text-container-background-image {
  position: relative;
  top: 55%;
  left: 30%;
  z-index: 1;
}

.text-container-background-image p {
  margin-top: 29px;
  font-size: 33px;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
  color: #396284;
  background-clip: text;
}

.button-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.shake {
  animation: shake 1s ease-in-out;
}

.toggle {
  visibility: hidden;
}

.label {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px;
  background-color: pink;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  z-index: 999;

}

.toggle:checked + .label {
  background-color: black;
}

.ball {
  background-color: white;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  animation: slideOff 0.3s linear forwards;
  z-index: 9999;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0%{
    transform: translateX(0px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0%{
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
