.container span {
  display: block;
  animation: text 5s;
}

.greeting-styling {
  color: rgba(188, 52, 34, 0.8);
  text-shadow: 1px -7px 10px #def, 0 0 0 #bd7d7d, 0px 0px 0px #def;
  font-size: 80px;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: bold;
  margin-bottom: 60px;
}

@keyframes text {
  0%{
    color: transparent;
    letter-spacing: -28px;
  }
  50% {
    letter-spacing: 14px;
  }
  100% {
    letter-spacing: 2px;
  }
}

.inside {
  text-align: center;
  overflow: hidden;
}
