// .container span {
//   display: block;
//   animation: text 3s;
// }

// .greeting-styling {
//   color: #FF6969;
//   // text-shadow: 1px -7px 10px #def, 0 0 0 #bd7d7d, 0px 0px 0px #def;
//   font-size: 80px;
//   font-family: "Francois One", sans-serif;
//   font-weight: bold;
//   margin-bottom: 60px;
// }

.inside {
  position: relative;
  z-index: 9;
  text-align: center;
  overflow: hidden;
}

@keyframes text {
  0%{
    color: transparent;
    letter-spacing: -28px;
  }
  50% {
    letter-spacing: 14px;
  }
  100% {
    letter-spacing: 2px;
  }
}

img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  //z-index: -1;
}

.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0,0,0,0), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble::after {
  background: -moz-radial-gradient(center, ellipse cover rgba(255,255,255,0.5)0%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255,255,255,0.3);
  //content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 10px;
}

.bubble-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 33px;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
  z-index: -1;
}

.bubble.b1 {
  animation: animateBubble 15s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  position: relative;
  left: 0%;
  top: 5%;
  transform: scale(0.6);
}

.bubble.b2 {
  animation: animateBubble 16s linear infinite, sideways 4s
  ease-in-out infinite alternate;
  left: 20%;
  top: 20%;
  transform: scale(0.8);
}

.bubble.b3 {
  animation: animateBubble 12s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 50%;
  top: 40%;
  transform: scale(0.7);
}

.bubble.b4 {
  animation: animateBubble 13s linear infinite, sideways 3s
  ease-in-out infinite alternate;
  left: 70%;
  top: 0%;
  transform: scale(0.6);
}

.bubble.b5 {
  animation: animateBubble 15s linear infinite, sideways 4s
  ease-in-out infinite alternate;
  left: 50%;
  top: 50%;
  transform: scale(0.8);
}

.bubble.b6 {
  animation: animateBubble 11s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 20%;
  top: 0%;
  transform: scale(0.6);
}

.bubble.b7 {
  animation: animateBubble 14s linear infinite, sideways 1s
  ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.5);
}

.bubble.b8 {
  animation: animateBubble 9s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  transform: scale(0.75);
}

.bubble.b9 {
  animation: animateBubble 10s linear infinite, sideways 3s
  ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.bubble.b10 {
  animation: animateBubble 8s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

.bubble.b11 {
  animation: animateBubble 4s linear infinite, sideways 1s
  ease-in-out infinite alternate;
  left: 60%;
  top: 80%;
  transform: scale(0.6);
}

.bubble.b12 {
  animation: animateBubble 6s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.5);
}

.bubble.b13 {
  animation: animateBubble 10s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 80%;
  top: 70%;
  transform: scale(0.4);
}

.bubble.b14 {
  animation: animateBubble 9s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.6);
}

.bubble.b15 {
  animation: animateBubble 7s linear infinite, sideways 2s
  ease-in-out infinite alternate;
  left: 60%;
  top: 80%;
  transform: scale(0.5);
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -300px;
  }
}

@keyframes sideways {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
